.header {
  margin-bottom: var(--mantine-spacing-md);
  border-bottom: 3px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  justify-content: space-between;
}

.group {
  justify-content: space-between;
}

@media (max-width: 500px) {
  .group {
    justify-content: center;
  }
}