body {
  background-color: var(--mantine-color-red-0);
}

.roundImg {
  border-radius:50%;
}

a {
  color: var(--mantine-black);
  text-decoration: underline;
  text-decoration-color: var(--mantine-primary-color-3);
  line-height: 1;
}

a:hover {
  color: var(--mantine-color-white);
  background-color: var(--mantine-primary-color-3);
}

